body {
    background-image: url("gumgumbackground2.jpg"); /* URL of the image */
    background-size: cover; /* Cover the entire background */
    background-attachment: fixed; /* Keep the background image fixed when scrolling */
    /* Optionally, you can set other properties like background-position if needed */
}

.header{
    background-color: rgb(255, 255, 0);
}

#headerLogo{
    width: 200px;
    height: auto;
    padding: 0 0 0 25px;
}

.navContainer{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: brown;
}

.navBar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.navLinks {
    text-decoration: none;
    color: yellow;
    font-family: Arial;
    text-shadow:
    -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
    padding: 15px 45px 15px 45px;
    font-size: 20px;
}

.mainContainer{
    /* border: 5px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    height: 100%;
}

.mainContent {
    /* border: 5px solid black; */
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(251, 255, 192);
}

.mainInfo{
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-evenly;
    width: 1500px;
}

.mainInfo2{
    /* border: 5px solid blue; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 1500px;
}

.favGear{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
    /* border: 3px solid red; */
}

.formContent{
    /* border: 5px solid rgb(99, 0, 212); */
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.formContainer2{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    /* border: 5px solid rgb(6, 203, 218); */
    height: 400px;
}

.formInput{
    width: 100%;
    height: 25px;
}

.checkbox {
    height: 20px;
    width: 30px;
}

.radioButton{
    height: 20px;
    width: 30px;
}

button {
    width: 100px;
    height: 30px;
}

.formInput2{
    width: 100%;
    height: 100px;
}

label {
    font-size: 30px;
}

.formQuestion{
    font-size: 30px;
}

.formSelect{
    display: flex;
    justify-content: space-evenly;
}

p {
    font-size: 20px;
}

.attackLinks{
    font-size: 25px;
}

.attackLinks2{
    font-size: 30px;
}

.gearTransform{
    /* border: 5px solid purple; */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gearAttacks{
    /* border: 5px solid rgb(0, 225, 255); */
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gearLeftPic{
    width: 600px;
    height: auto;
}

#gearLeftPic2{
    width: 600px;
    height: 400px;
}

#gearRightPic{
    width: 600px;
    height: 400px;
}

#gearBotPic{
    padding: 50px 0 125px 0;
    width: 1320px;
    height: auto;
}

h1, h2 {
    font-family: Verdana;
    color: rgb(212, 53, 53);
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;
}
